<link rel=" stylesheet" href="/assets/css/character.css">

<button data-user="<%= user %>" data-char="<%= char %>" data-picture="<%= charData.imgURL %>" id="userInfo"
  class="hide"></button>
<!--Keep the data-user in this container need for suppling database-->


<div class="modal" tabindex="-1" role="dialog" id="randomModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content stats-div">
      <div class="modal-header">
        <h5 class="modal-title">Please Choose Female Male or Either</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body sm-low-div">
        <form>
          <div id="options">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="genderOptions" id="female" value="female">
              <label class="form-check-label" for="female">Female</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="genderOptions" id="male" value="male">
              <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="genderOptions" id="either" value="either">
              <label class="form-check-label" for="either">Neutral</label>
            </div>
          </div>
        </form>
        <form id="names">
          <select class="form-control hide" id="nameSelect">
            <option>Choose A Name</option>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary button-stone" data-dismiss="modal">Close</button>
        <button type="button" class="btn button-stone" id="chooseName">Generate Names</button>
        <button type="button" class="btn button-stone hide" id="keepName">Choose Character</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--Header -->
  <div class="row header justify-content-center">
    <div class="col col-md-2"></div>
    <div class="col-md-7">
      <img src="https://test-bucket5643.s3.amazonaws.com/assets/logo.png" alt="" class="img-fluid">
    </div>
    <div class="col col-xs-4 col-md-3 text-md-right text-sm-center">
      <ul id="menu" class="list-group">
        <li class="list-group-item button-stone mt-2 mb-1 text-center"><button type="submit" id="dashboard"
            class="btn text-center btnText">Dashboard</button></li>
        <li class="list-group-item button-stone mt-2 mb-1 text-center"><button type="submit" id="logout"
            class="btn text-center btnText">Logout</button></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <!-- Master Container-->
  <div class="row img-div">
    <form id="characterAddMasterForm" class="col-md-12 container-fluid justify-content-center">
      <div class="form-group">
        <!--#####################Character Name Start#####################-->
        <div class="form-group row top-div p-2 justify-content-center">
          <div class="col col-xs-12 col-sm-12 col-md-2">
            <div class="row justify-content-center">
              <div div class="imgLogo" style="background: center / cover no-repeat url('<%= charData.imgURL %>') ">
              </div>
            </div>
          </div>

          <div class="col col-xs-12 col-sm-8 col-md-8 text-center align-middle">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <h3 id="characterLabel" class="m-2">Character Name</h3>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-10 col-xs-12 m-0">
                <div class="input-group-prepend"><span class="input-group-text" for="characterNameInput">Name</span>
                  <textarea id="characterNameInput" class="form-control" aria-label="With textarea"
                    value="Monty Moose"><%= charData.characterName %></textarea>
                  <button class="btn btn-warning button-stone m-0" type="button" id="randomNameBtn"
                    data-toggle="popover" data-trigger="hover" data-content="Random Name Generator"><i
                      class="fas fa-dice"></i></button>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-8">
                <input type="file" enctype="multipart/form-data" accept="image/*" class="custom-file-input"
                  id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                <label class="custom-file-label" for="inputGroupFile04">Upload</label>
              </div>
              <div class="col-md-2 col-xs-12">
                <button class="btn btn-outline-success btn-block" type="button" id="imageUploadButton">Upload</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <br>
  <!--#####################Character Information Start#####################-->
  <div class="stats-div">
    <div class="form-group row top-div p-2">
      <div class="col col-md-9 ">
        <div class="row">
          <div class="col col-md-3">
            <div><span id="className">Class</span></div>
          </div>
          <!--############Classes##############-->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="classSelect">Options</label>
            </div>
            <select class="custom-select" id="classSelect">
              <option selected value="<%= classData.id %>"><%= classData.className %></option>
              <!-- ["Barbarian","Bard","Cleric","Druid","Fighter","Monk","Paladin","Ranger","Rogue","Sorcerer","Warlock","Wizard"] -->
              <option value=12>Barbarian</option>
              <option value=1>Bard</option>
              <option value=2>Cleric</option>
              <option value=11>Druid</option>
              <option value=3>Fighter</option>
              <option value=4>Monk</option>
              <option value=5>Paladin</option>
              <option value=6>Ranger</option>
              <option value=7>Rogue</option>
              <option value=10>Sorcerer</option>
              <option value=8>Warlock</option>
              <option value=9>Wizard</option>
            </select>
          </div>
        </div>
        <!--######### Races ###########-->
        <div class="row">
          <div class="col col-md-3">
            <div><span id="race">Race</span></div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="raceSelect">Options</label>
            </div>
            <select class="custom-select" id="raceSelect">
              <option selected value="<%= raceData.id %>"><%= raceData.raceName %></option>
              <!-- ["Dwarf","Elf","Halfling","Human","Dragonborn","Gnome","Half-Elf","Half-Orc","Tiefling"] -->
              <option value=13>Dragonborn</option>
              <option value=9>Dwarf</option>
              <option value=10>Elf</option>
              <option value=14>Gnome</option>
              <option value=11>Halfling</option>
              <option value=15>Half-Elf</option>
              <option value=16>Half-Orc</option>
              <option value=12>Human</option>
              <option value=17>Tiefling</option>
            </select>
          </div>
        </div>
        <!---########### Alignment ###########-->
        <div class="row">
          <div class="col col-md-3">
            <div><span id="alignment">Alignment</span></div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="alignmentSelect">Options</label>
            </div>
            <select class="custom-select" id="alignmentSelect">
              <option selected value="<%= charData.alignment %>"><%= charData.alignment %></option>
              <!-- ["Lawful Good","Neutral Good","Chaotic Good","Lawful Neutral","Neutral","Chaotic Neutral","Lawful Evil","Neutral Evil","Chaotic Evil"] -->
              <option value="Lawful-Good">Lawful-Good</option>
              <option value="Neutral-Good">Neutral-Good</option>
              <option value="Chaotic-Good">Chaotic-Good</option>
              <option value="Lawful-Neutral">Lawful-Neutral</option>
              <option value="Neutral">Neutral</option>
              <option value="Chaotic-Neutral">Chaotic-Neutral</option>
              <option value="Lawful-Evil">Lawful-Evil</option>
              <option value="Neutral-Evil">Neutral-Evil</option>
              <option value="Chaotic-Evil">Chaotic-Evil</option>
            </select>
          </div>
        </div>
        <!--############# Armor ##############-->
        <div class="row">
          <div class="col col-md-3">
            <div><span id="armor">Armor</span></div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="armorSelect">Options</label>
            </div>
            <select class="custom-select" id="armorSelect">
              <option selected value="<%= armorData.id %>"><%= armorData.armorName %></option>
              <option value=1>Padded</option>
              <option value=2>Leather</option>
              <option value=3>Studded leather</option>
              <option value=4>Hide</option>
              <option value=5>Chain shirt</option>
              <option value=6>Scale mail</option>
              <option value=7>Breastplate</option>
              <option value=8>Half plate</option>
              <option value=9>Ring mail</option>
              <option value=10>Chain mail</option>
              <option value=11>Splint</option>
              <option value=12>Plate</option>
              <option value=13>Shield</option>
            </select>
          </div>
        </div>
        <!--############# Weapon ##############-->
        <div class="row">
          <div class="col col-md-3">
            <div><span id="weapon">Weapon</span></div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="weaponSelect">Options</label>
            </div>
            <select class="custom-select" id="weaponSelect">
              <option selected value=<%= weaponData.id %>><%= weaponData.weaponName %></option>
              <option value=1>Club</option>
              <option value=2>Dagger</option>
              <option value=3>Greatclub</option>
              <option value=4>Handaxe</option>
              <option value=5>Javelin</option>
              <option value=6>Light Hammer</option>
              <option value=7>Mace</option>
              <option value=8>Quarterstaff</option>
              <option value=9>Sickle</option>
              <option value=10>Spear</option>
              <option value=11>Light Crossbow</option>
              <option value=12>Dart</option>
              <option value=13>Shortbow</option>
              <option value=14>Sling</option>
              <option value=15>Battleaxe</option>
              <option value=16>Flail</option>
              <option value=17>Glaive</option>
              <option value=18>Greataxe</option>
              <option value=19>Greatsword</option>
              <option value=22>Longsword</option>
              <option value=23>Maul</option>
              <option value=24>Morningstar</option>
              <option value=25>Pike</option>
              <option value=26>Rapier</option>
              <option value=27>Scimitar</option>
              <option value=28>Shortsword</option>
              <option value=29>Trident</option>
              <option value=30>War pick</option>
              <option value=31>Warhammer</option>
              <option value=32>Whip</option>
              <option value=33>Blowgun</option>
              <option value=34>Hand Crossbow</option>
              <option value=35>Crossbow</option>
              <option value=36>Longbow</option>
              <option value=37>Longbow</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-4">
            <div class="row">
              Faction:
            </div>
            <div class="row">
              <input id="factionInput" type="text" value="<%= charData.faction %>" placeholder="0">
            </div>
          </div>
          <div class="col col-md-4">
            <div class="row">
              Experience:
            </div>
            <div class="row">
              <input id="experienceInput" type="number" value="<%= charData.experience %>" placeholder="0">
            </div>
          </div>
          <div class="col col-md-4">
            <div class="row">
              Inspiration:
            </div>
            <div class="row">
              <input id="inspirationInput" type="number" value="<%= charData.inspiration %>" placeholder="0">
            </div>
          </div>
        </div>
      </div>
      <!--#####################-Money and Gold-#####################-->
      <div class="col col-md-3 col-sm-12">
        <div class="row">
          Wealth
        </div>
        <div class="row">
          <div class="input-group">
            <div class="input-group-prepend">
              <label for="copperInput" class="input-group-text">Copper </label>
              <input id="copperInput" type="number" value="<%= charData.copper %>" placeholder="0" class="form-control"
                aria-label="With textarea"></input>
            </div>
            <div class="input-group-prepend">
              <label class="input-group-text" for="silverInput">Silver </label>
              <input id="silverInput" type="number" value="<%= charData.silver %>" placeholder="0" class="form-control"
                aria-label="With textarea"></input>
            </div>
            <div class="input-group-prepend">
              <label for="ElectrumInput" class="input-group-text">Electrum </label>
              <input id="ElectrumInput" type="number" value="<%= charData.silver %>" placeholder="0"
                class="form-control" aria-label="With textarea"></input>
            </div>
            <div class="input-group-prepend">
              <label class="input-group-text" for="GoldInput">Gold </label>
              <input id="GoldInput" type="number" value="<%= charData.gold %>" placeholder="0" class="form-control"
                aria-label="With textarea"></input>
            </div>
            <div class="input-group-prepend">
              <label class="input-group-text" for="PlatinumInput">Platinum </label>
              <input id="PlatinumInput" type="number" value="<%= charData.platinum %>" placeholder="0"
                class="form-control" aria-label="With textarea"></input>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#####################-Ability Section-#####################-->
    <!--#####################-Ability Section-#####################-->

    <!--Strength and dex-->
    <div class="form-group row top-div">
      <div class="col-md-6">
        <table style="width:100%">
          <tr>
            <th>
              Strength <button type="button" class="statRoll button-stone" value="strength" data-toggle="popover"
                data-trigger="hover" data-content="Random Stat Generator" data-placement="top"><i
                  class="fas fa-dice"></i></button>
            </th>
          </tr>
          <th>
            Ability
          </th>
          <th>
            Mod
          </th>
          <th>
            Total
          </th>
          </tr>
          <tr>
            <td>
              <input type="number" id="strengthAbil" value="<%= charData.str %>" class="form-control input-sm">
            </td>
            <td>
              <input type="number" id="strengthMod" value="<%= charData.strAdditional %>" class="form-control input-sm">
            </td>
            <td>
              <input type="number" id="strengthTotal" value="<%= charData.str + charData.strAdditional %>"
                class="form-control input-sm">
            </td>
          </tr>

        </table>
      </div>
      <div class="col-md-6">
        <table style="width:100%">
          <tr>
            <th>
              Dexterity <button type="button" class="statRoll button-stone" value="dexterity" data-toggle="popover"
                data-trigger="hover" data-content="Random Stat Generator" data-placement="top"><i
                  class="fas fa-dice"></i></button>
            </th>
          </tr>
          <th>
            Ability
          </th>
          <th>
            Mod
          </th>
          <th>
            Total
          </th>
          </tr>
          <tr>
            <td>
              <input type="number" id="dexterityAbil" value="<%= charData.dex %>" class="form-control input-sm">
            </td>
            <td>
              <input type="number" id="dexterityMod" value="<%= charData.dexAdditional %>"
                class="form-control input-sm">
            </td>
            <td>
              <input type="number" id="dexterityTotal" value="<%= charData.dex + charData.dexAdditional %>"
                class="form-control input-sm">
            </td>
          </tr>

        </table>
      </div>
    </div>
    <!--Con and Int-->
    <div class="form-group row top-div">
      <div class="col-md-6">
        <table style="width:100%">
          <tr>
            <th>
              Constitution <button type="button" class="statRoll button-stone" value="constitution"
                data-toggle="popover" data-trigger="hover" data-content="Random Stat Generator" data-placement="top"><i
                  class="fas fa-dice"></i></button>
            </th>
          </tr>
          <th>
            Ability
          </th>
          <th>
            Mod
          </th>
          <th>
            Total
          </th>
          </tr>
          <tr>
            <td>
              <input type="number" id="constitutionAbil" value="<%= charData.con %>" class="form-control input-sm">
            </td>
            <td>
              <input type="number" id="constitutionMod" value="<%= charData.conAdditional %>"
                class="form-control input-sm">
            </td>
            <td>
              <input type="number" id="constitutionTotal" value="<%= charData.con + charData.conAdditional %>"
                class="form-control input-sm">
            </td>
          </tr>

        </table>
      </div>
      <div class="col-md-6">
        <table style="width:100%">
          <tr>
            <th>
              Intelligence <button type="button" class="statRoll button-stone" value="intelligence"
                data-toggle="popover" data-trigger="hover" data-content="Random Stat Generator"
                data-placement="bottom"><i class="fas fa-dice"></i></button>
            </th>
          </tr>
          <th>
            Ability
          </th>
          <th>
            Mod
          </th>
          <th>
            Total
          </th>
          </tr>
          <tr>
            <td>
              <input type="number" id="intelligenceAbil" value="<%= charData.int %>" class="form-control input-sm">
            </td>
            <td>
              <input type="number" id="intelligenceMod" value="<%= charData.intAdditional %>"
                class="form-control input-sm">
            </td>
            <td>
              <input type="number" id="intelligenceTotal" value="<%= charData.int + charData.intAdditional %>"
                class="form-control input-sm">
            </td>
          </tr>

        </table>
      </div>
    </div>
    <!--Wisdom and Charisma-->
    <div class="form-group row top-div">
      <div class="col-md-6">
        <table style="width:100%">
          <tr>
            <th>
              Wisdom <button type="button" class="statRoll button-stone" value="wisdom" data-toggle="popover"
                data-trigger="hover" data-content="Random Stat Generator" data-placement="bottom"><i
                  class="fas fa-dice"></i></button>
            </th>
          </tr>
          <th>
            Ability
          </th>
          <th>
            Mod
          </th>
          <th>
            Total
          </th>
          </tr>
          <tr>
            <td>
              <input type="number" id="wisdomAbil" value="<%= charData.wis %>" class="form-control input-sm">
            </td>
            <td>
              <input type="number" id="wisdomMod" value="<%= charData.wisAdditional %>" class="form-control input-sm">
            </td>
            <td>
              <input type="number" id="wisdomTotal" value="<%= charData.wis + charData.wisAdditional %>"
                class="form-control input-sm">
            </td>
          </tr>

        </table>
      </div>
      <div class="col-md-6">
        <table style="width:100%">
          <tr>
            <th>
              Charisma <button type="button" class="statRoll button-stone" value="charisma" data-toggle="popover"
                data-trigger="hover" data-content="Random Stat Generator" data-placement="bottom"><i
                  class="fas fa-dice"></i></button>
            </th>
          </tr>
          <th>
            Ability
          </th>
          <th>
            Mod
          </th>
          <th>
            Total
          </th>
          </tr>
          <tr>
            <td>
              <input type="number" id="charismaAbil" value="<%= charData.char %>" class="form-control input-sm">
            </td>
            <td>
              <input type="number" id="charismaMod" value="<%= charData.charAdditional %>"
                class="form-control input-sm">
            </td>
            <td>
              <input type="number" id="charismaTotal" value="<%= charData.char + charData.charAdditional %>"
                class="form-control input-sm">
            </td>
          </tr>

        </table>
      </div>
    </div>
    <!---#################################################################-->
    <!--##################### Skills Section #####################-->
    <div class="form-group row top-div p-2">
      <!--Head-->
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="row">
          <div class="col col-md-12">
            <br>
            <h3>Skills</h3><br>
          </div>
        </div>
        <!--Skills-->
        <div class="row">
          <div class="col col-md-6">
            <div>
              <div id="acrobatics" class="underline">Acrobatics</div>
              <input id="acrobaticsCheck" type="checkbox">
              <input id="acrobaticsInput" type="number" value="0" placeholder="0">
            </div>

            <div>
              <div id="animalHandling" class="underline">Animal Handling</div>
              <input id="animalHandlingCheck" type="checkbox">
              <input id="animalHandlingInput" type="number" value="0" placeholder="0">
            </div>

            <div>
              <div id="arcana" class="underline">Arcana</div>
              <input id="arcanaCheck" type="checkbox">
              <input id="arcanasInput" type="number" value="0" placeholder="0">
            </div>

            <div>
              <div id="athletics" class="underline">Athletics</div>
              <input id="athleticsCheck" type="checkbox">
              <input id="athleticsInput" type="number" value="0" placeholder="0">
            </div>

            <div>
              <div id="deception" class="underline">Deception</div>
              <input id="deceptionCheck" type="checkbox">
              <input id="deceptionInput" type="number" value="0" placeholder="0">
            </div>

            <br>
          </div>
          <div class="col col-md-6">
            <div>
              <div id="history" class="underline">History</div>
              <input id="historyCheck" type="checkbox">
              <input id="historyInput" type="number" value="0" placeholder="0">
            </div>

            <div>
              <div id="insight" class="underline">Insight</div>
              <input id="insightCheck" type="checkbox">
              <input id="insightInput" type="number" value="0" placeholder="0">
            </div>

            <div>
              <div id="intimidation" class="underline">Intimidation</div>
              <input id="intimidationCheck" type="checkbox">
              <input id="intimidationInput" type="number" value="0" placeholder="0">
            </div>

            <div>
              <div id="investigation" class="underline">Investigation</div>
              <input id="investigationCheck" type="checkbox">
              <input id="investigationInput" type="number" value="0" placeholder="0">
            </div>

            <div>
              <div id="medicine" class="underline">Medicine</div>
              <input id="medicineCheck" type="checkbox">
              <input id="medicineInput" type="number" value="0" placeholder="0">
            </div>

            <br>
          </div>
          <div class="col col-md-6">
            <div>
              <div id="nature" class="underline">Nature</div>
              <input id="natureCheck" type="checkbox">
              <input id="natureInput" type="number" value="0" placeholder="0">
            </div>

            <div>
              <div id="perception" class="underline">Perception</div>
              <input id="perceptionCheck" type="checkbox">
              <input id="perceptionInput" type="number" value="0" placeholder="0">
            </div>

            <div>
              <div id="performance" class="underline">Performance</div>
              <input id="performanceCheck" type="checkbox">
              <input id="performanceInput" type="number" value="0" placeholder="0">
            </div>

            <div>
              <div id="religion" class="underline">Religion</div>
              <input id="religionCheck" type="checkbox">
              <input id="religionInput" type="number" value="0" placeholder="0">
            </div>

            <div>
              <div id="sleightOfHand" class="underline">Sleight of Hand</div>
              <input id="sleightOfHandCheck" type="checkbox">
              <input id="sleightofHandInput" type="number" value="0" placeholder="0">
            </div>

            <br>
          </div>
          <div class="col col-md-6">
            <div>
              <div id="stealth" class="underline">Stealth</div>
              <input id="stealthCheck" type="checkbox">
              <input id="stealthInput" type="number" value="0" placeholder="0">
            </div>

            <div>
              <div id="survival" class="underline">Survival</div>
              <input id="survivalCheck" type="checkbox">
              <input id="survivalInput" type="number" value="0" placeholder="0">
            </div>
          </div>
          <br>

        </div>
      </div>
    </div>


    <!---  Special input fields for spells, language, equipment, and backstory-->
    <div class="form-group row top-div p-2">
      <div class="input-group col col-md-12">
        <div class="form-group row col-md-12">
          <h5>Please Enter Different Items with a comma (",")</h5>
          <label class="input-group-text">Spells:</label>
          <textarea id="spellsInput" class="form-control" aria-label="With textarea" value=""
            placeholder="None"></textarea>
        </div>
        <div class="form-group row col-md-12">
          <label class="input-group-text">Special Languages:</label>
          <textarea id="languagesInput" class="form-control" aria-label="With textarea" value="None"
            placeholder="None"></textarea>
        </div>
        <div class="form-group row col-md-12">
          <label class="input-group-text">Equipment:</label>
          <textarea id="equipmentInput" class="form-control" aria-label="With textarea" value="None"
            placeholder="None"></textarea>
        </div>
        <div class="form-group row col-md-12">
          <label class="input-group-text">Backstory goes here:</label>
          <textarea id="backstoryInput" class="form-control" aria-label="With textarea" value="None"
            placeholder="Our story begins..."></textarea>
        </div>
      </div>
    </div>
    <div class="form-group row p-2">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h3 id="error"></h3>
        <button type="button" id="formSubmit" class="button-stone p-2 btnText">Submit Your Character Data</button>
      </div>
      <div class="col-md-4"></div>

    </div>

    </form>
  </div>
</div>



<script src="/assets/javascript/calculator.js"></script>
<script src="/assets/javascript/characterUpdate.js"></script>