<div class="container">
  <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Character</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to <strong>DELETE</strong> Character?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger remove" id="remove">Remove Character</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row header justify-content-center">
    <div class="col-md-8 col-sm-12">
      <img src="https://test-bucket5643.s3.amazonaws.com/assets/logo.png" class="img-fluid">
    </div>
  </div>
  <div class="col justify-content-center">
    <button type="submit" id="logout" class="btn btn-primary button-stone mt-3 mb-3 btnText">Logout</button>
  </div>
  <div class="row content">
    <div class="col col-xs-12 col-md-12 text-center center">
      <h2>Welcome <%= name %>.</h2>
      <h3>Please create a new Character.</h3>
      <div class="btn button-character shadow">
        <button class="btn dashboardBtn" data-id="<%= id %>" id="newCharacterBtn">Create Character</button>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col col-xs-12 col-md-12 text-center">
      <h3 class="text-center">or Select a Character.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <% if (characters!==null){ %>
      <% characters.forEach((element)=>{ %>
      <div class="row">
        <div class="col col-xs-12 col-md-12">
          <div class="row justify-content-center">
            <div class="btn button-character shadow col-md-6">
              <button class="btn dashboardBtn btn-block characterBtn" data-id="<%= id %>"
                data-charid="<%= element.charid %>"><%= element.characterName %> --
                <%= element.class.className %></button>
            </div>
            <div class="col-md-2 ml-1 text-center">
              <button class="btn btn-primary dashboardBtn updateCharacterBtn shadow btnText button-stone"
                data-id="<%= id %>" data-charid="<%= element.charid %>">edit</button>
            </div>
            <div class="col-md-2 ml-1 text-center">
              <button class="btn btn-primary dashboardBtn deleteCharacterBtn shadow btnText button-stone delete"
                data-id="<%= id %>" data-charid="<%= element.charid %>">Delete</button>
            </div>
          </div>
        </div>

      </div>
      <% }); %>
      <%}else{ %>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col col-md-4 text-center">
          <h3 class="text-center">Create a new Character.</h3>
        </div>
        <div class="col-md-4"></div>
      </div>

      <%} %>
    </div>
  </div>
</div>