<div class="container">
  <div class="row header justify-content-center">
    <div class="col col-md-2"></div>
    <div class="col-md-8">
      <div class="mt-3">
        <img src="./assets/images/logo.png" class="img-responsive" id="logo" alt="Valhalla">
      </div>
    </div>
    <div class="col col-md-2 text-md-right text-sm-center">
        <button type="submit" id="logout" class="btn btn-primary button-stone mt-3 mb-3">Logout</button>
    </div>
  </div>
  <div class="row content">
    <div class="col col-md-12 text-center center">
      <h2>Welcome <%= name %>.</h2>
      <h3>Please add a new Character.</h3>
      <div type="div" class="btn btn-primary button-character shadow addCharacterBtn mt-3 mb-3" data-id="<%= id %>" id="newCharacterBtn">
        Create a New Character
      </div>
    </div>
  </div>
  <% if (characters!==null){ %>
  <% characters.forEach((element)=>{ %>
  <div class="row content">
    <div class="col col-md-12 text-center center">
      <div type="div" class="btn btn-primary button-character shadow characterBtn mt-3 mb-3" data-id="<%= element.id %>" data-user="<%= id %>" id="newCharacterBtn"> 
        <%= element.characterName %> -- <%= element.class.className %>
      </div>
    </div>
  </div>
 
  <% }); %>
  <%}else{ %>
  <div class="row content">
    <div class="col col-md-12 text-center center">
      <h3>Choose one of your characters.</h3>
    </div>
  </div>
  <%} %>
</div>

