<div class="container">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col">
      <img src="./assets/images/logo.png" class="img-responsive logo" alt="Valhalla">
    </div>
    <div class="col">
      <button type="submit" id="logout" class="btn btn-primary button-stone mt-3 mb-3 btnText">Logout</button>
    </div>
  </div>
  <div class="row content">
    <div class="col col-md-12 text-center center">
      <h2>Welcome <%= name %>.</h2>
      <h3>Please add a new Character.</h3>
      <div class="btn button-character shadow">
        <button class="btn dashboardBtn" data-id="<%= id %>" id="newCharacterBtn">Create a New Character</button>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col col-md-12 text-center">
        <h3 class="text-center">or Select a Character.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <% if (characters!==null){ %>
        <% characters.forEach((element)=>{ %>
        <div class="col col-md-12 text-center center">
          <div class="btn button-character shadow">
            <button class="btn dashboardBtn characterBtn" data-id="<%= id %>"
              data-charid="<%= element.id %>"><%= element.characterName %> -- <%= element.class.className %></button>
            <button class="btn dashboardBtn updateCharacterBtn" data-id="<%= id %>"
              data-charid="<%= element.charid %>">edit</button>
          </div>
        </div>
        <% }); %>
      </div>
      <%}else{ %>
      <div class="row content">
        <div class="col col-md-12 text-center center">
          <h3>Create a new Character.</h3>
        </div>
      </div>
      <%} %>
    </div>
  </div>
</div>